@inherits xrc.Razor.XrcWebViewPage

@functions
{
    public xrc.Modules.ISlotModule SlotModule
    {
        get;
        set;
    }

	public xrc.Modules.IUrlModule UrlModule
	{
		get;
		set;
	}
}
<div class="row-fluid">
    @Html.Raw(SlotModule.Include("_xhtml"))
    @Html.Raw(SlotModule.Include("_html"))
    @Html.Raw(SlotModule.Include("_markdown"))
    @Html.Raw(SlotModule.Include("_markdownFile"))
    @Html.Raw(SlotModule.Include("_slot"))
    @Html.Raw(SlotModule.Include("_demowebsite"))
	<h3>Raw</h3>
	<img src="@UrlModule.Content("_raw")" alt="Raw view display a sample image" />
</div>
