@inherits xrc.Razor.XrcWebViewPage

@functions
{
    public xrc.Modules.ISlotModule SlotModule
    {
        get;
        set;
    }
}
<div class="row-fluid">
    @Html.Raw(SlotModule.Include("_xhtml"))
    @Html.Raw(SlotModule.Include("_html"))
    @Html.Raw(SlotModule.Include("_markdown"))
    @Html.Raw(SlotModule.Include("_markdownFile"))
    @Html.Raw(SlotModule.Include("_slot"))
</div>
