@model List<DemoWebSite.Country>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Code</th>
			<th>Country</th>
			<th>Gold</th>
			<th>Silver</th>
			<th>Bronze</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var country in Model)
  {
	  <tr>
		<td>@country.Code</td>
		<td><a href="@country.Code">@country.Name</a></td>
		<td>@country.Medals.Gold</td>
		<td>@country.Medals.Silver</td>
		<td>@country.Medals.Bronze</td>
	  </tr>
  }
	</tbody>
</table>


