@inherits xrc.Razor.XrcWebViewPage

@functions
{
    public xrc.Modules.ISlotModule SlotModule
    {
        get;
        set;
    }

	public xrc.Modules.IUrlModule UrlModule
	{
		get;
		set;
	}
}

<div class="row-fluid">
    <div class="span12">
        @Html.Raw(SlotModule.Include("_razorInclude"))
    </div>
</div>

<h2>MVC Integration</h2>
<div class="row-fluid">
    <div class="span4">
        @Html.Raw(SlotModule.Include("_contactform1"))
    </div>
    <div class="span4">
        @Html.Raw(SlotModule.Include("_contactform2"))
    </div>
    <div class="span4" id="contactList">
        @Html.Raw(SlotModule.Include("_contactlist"))
    </div>
</div>

<script type="text/javascript">
	function loadContactList() {
		$('#contactList').load('@UrlModule.Content("_contactlist")');
	}
</script>