@inherits xrc.Razor.XrcWebViewPage

@functions
{
    public xrc.Modules.ISlotModule SlotModule
    {
        get;
        set;
    }

	public xrc.Modules.IUrlModule UrlModule
	{
		get;
		set;
	}
}
<div class="row-fluid">
    @Html.Raw(SlotModule.Include("_xslt"))
    @Html.Raw(SlotModule.Include("_xhtml"))
    @Html.Raw(SlotModule.Include("_html"))
    @Html.Raw(SlotModule.Include("_razor"))
    @Html.Raw(SlotModule.Include("_markdown"))
    @Html.Raw(SlotModule.Include("_markdownFile"))
    @Html.Raw(SlotModule.Include("_slot"))
    @Html.Raw(SlotModule.Include("_demowebsite"))
	<h3>Raw (image)</h3>
	<img src="@UrlModule.Content("_rawimage")" alt="Raw view display a sample image" />
	<h3>Raw (download)</h3>
	<a href="@UrlModule.Content("_rawdownload")">download</a>
</div>
